@import "tailwindcss";
@import url('https://rsms.me/inter/inter.css');
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake, bumblebee;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}